@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Notable;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/Notably\ Absent\ DEMO.ttf");
}

@import "tailwindcss";

@theme {
    --font-notable: Notable;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-notable {
    font-family: Notable;
}

.swiper-pagination-bullet-active {
    background-color: #dc143c !important;
}

.swiper-container2 img {
    @apply mx-auto scale-90 blur-sm transition-transform translate-y-[-60px];
}

.swiper-button-prev-dishes img,
.swiper-button-next-dishes img {
    @apply blur-none;
}

.swiper-container2 .swiper-slide-prev img,
.swiper-container2 .swiper-slide-next img {
    @apply scale-90 blur-[2px] transition-all translate-y-[90px];
}

.swiper-container2 .swiper-slide-active img {
    @apply scale-120 blur-none transition-all translate-y-[140px];
}

.product-slider-container {
    background: url("../img/pngegg.png") no-repeat bottom center;
}

.about-title {
    background-color: white;
    clip-path: polygon(0 9%, 100% 0, 82% 100%, 18% 99%);
}

@keyframes rollBladesMove {
    0% {
        transform: translateX(0) translateY(-45%);
    }

    100% {
        transform: translateX(-50%) translateY(-45%);
    }
}

.roller-blades {
    animation: rollBladesMove 6s linear infinite;
}